


body {
    
    background: 
    
  linear-gradient(to right, rgb(117, 41, 117), rgb(52, 28, 68), rgb(70, 37, 92)); color: rgb(221, 48, 210);

    }


.h1 {

color: rgb(136, 48, 218);

}


.h2 {

    color: rgb(106, 35, 173);
    
    }