


{% extends "EcomProducts/sidebar.html" %}

{% load widget_tweaks %}




{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}


{%block body%}

<main class="flex justify-center p-4 md:ml-64 h-auto pt-20">
   
      <div
        class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-32 md:h-64">
    
   
    </div>

    <div
      class="border-2 border-dashed rounded-lg border-red-300 dark:border-gray-600 h-96 mb-4"
    > </div>
<!--EXPERMIEMENT                      -->
   
       

<section>

<!--
<form  method="POST" >
  {% csrf_token %}
  
 
  <div>
    <label for="price" class="block mb-2 text-sm font-medium
     text-gray-900 dark:text-white">Price</label>
 
    {% render_field form.price name="price" id="price" class+="bg-black-200 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="$$$" required="" %}
</div>
-->>
<div>
  <form method="POST">
    {% csrf_token %}
    
    <div>
      <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
      {% render_field form.price class="bg-black-200 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="$$$" required="required" %}
    </div>

    <div>
      <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">City</label>
      {% render_field form.city class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="City" required="required" %}
    </div>

    <div>
      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
      {% render_field form.name class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Name" required="required" %}
    </div>

    <div>
      <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category</label>
      {% render_field form.category class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Category" required="required" %}
    </div>

    <div>
      <label for="currency" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Currency</label>
      {% render_field form.currency class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Currency" required="required" %}
    </div>

    <div>
      <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
      {% render_field form.description class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Description" required="required" %}
    </div>

    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
  </form>
</div>

    
    <!--EXPERMIEMENT                      -->
   

  <!-- test ALPINE FUNCTIONS-->





  </main>
</section>



{% endblock %}

